<html>
    <head>
        <title>
            <%# = locals.title %>
            Success Message Page
        </title>
         <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
         <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
        <style>
            h1 {
                color: red;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="success-class-danger text-center">Successfully Your Contact Added</h1>
            <button type="button" onclick="window.location.href='/'" class="btn btn-secondary btn-lg btn-block mt-2">Home</button>
        </div>
    </body>
</html>